.log-btn{
    background-color: #212529;
    min-width: 80px;
    border-radius:0.3rem;
}

.log-reg-text {
    color: #212529; 
    text-align: right;
    font-size: 0.7rem;
}
.card-l{
    width:400px; 
    border:2px; 
    background-color:#f1f1f1;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    align-items: center;
    min-height: 47vh;
}
.card-r{
    width:400px; 
    border:2px; 
    background-color:#f1f1f1;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    align-items: center;
}

.card-fp{
    width:400px; 
    border:2px; 
    background-color:#f1f1f1;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    align-items: center;
    min-height: 30vh;
}

.buy{
    background-image: url('https://cdn-icons-png.flaticon.com/512/3523/3523887.png');
    background-position: center;
    background-size: 200px;
    background-repeat: no-repeat;
}

.gift{
    background-image: url('https://cdn-icons-png.flaticon.com/512/994/994393.png');
    background-position: center;
    background-size: 200px;
    background-repeat: no-repeat;
}

.profile{
    background-image: url('https://images.unsplash.com/photo-1488485339565-566d63f7dbb7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80');
    background-position: center;
    background-size: 400px;
    background-repeat: no-repeat;
}
